Source: SoapyHackRFDuplex
Section: libs
Priority: optional
Maintainer: Tom Cully <tomhughcully@gmail.com>
Uploaders: Tom Cully <tomhughcully@gmail.com>
Build-Depends:
    debhelper (>= 9.0.0),
    cmake,
    libhackrf-dev,
    libsoapysdr-dev
Standards-Version: 4.5.0
Homepage: https://github.com/tomdionysus/SoapyHackRFDuplex/wiki
Vcs-Git: https://github.com/tomdionysus/SoapyHackRFDuplex.git
Vcs-Browser: https://github.com/tomdionysus/SoapyHackRFDuplex

Package: soapysdr0.1-module-hackrfduplex
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Soapy HackRF - HackRF device support for Soapy SDR with duplex bonding.
 A Soapy module that supports HackRF devices within the Soapy API, bonding two devices for duplex use.

Package: soapysdr-module-hackrfduplex
Architecture: all
Depends: soapysdr0.1-module-hackrfduplex, ${misc:Depends}
Description: Soapy HackRF - HackRF device support for Soapy SDR.
 A Soapy module that supports HackRF devices within the Soapy API.
 .
 This is an empty dependency package that pulls in the HackRF module
 for the default version of libsoapysdr.
